@font-face {
    font-family: bebas;
    src: url(../assets/fonts/BebasNeue-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* desktopfirst */
/* esconde o burgao */
#menu-hanburguer {
    display: none;
}

body {

    background-color: #080324;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: white;
}

.layout-grid {
    color: aliceblue;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    width: 1440px;
    height: 60px;
    background-color: #F9003D;
}
.header-flex {
    display: flex;
    justify-content: flex-end;
}
.navbar {
    /* background-color: aqua; */
    padding-top: 20px;
    width: 600px;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    font-family: Bebas;
    text-decoration: none;
    color: white;
}

.banner {
    width: 1440px;
    height: 740px;
    top: 60px;
    color: white;
    background-image: url(../assets/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}


#bannerinfo {
    border-bottom: 2px solid #FFAF00;
    /* background-color: aquamarine; */
    width: 550px;
}

#bannerinfo h1 {
    font-family: Bebas;
    font-size: 96px;
}

#bannerinfo p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F9003D;
}

.sobre {
    width: 1440px;
    height: 740px;
    top: 60px;
    /* background-color: aqua; */
}

.sobre .sobre-flex {
    width: 1400px;
    /* background-color: darkmagenta; */
    display: flex;
    justify-content:space-between;
}

.sobrebox {
    width: 491px;
    /* background-color: #FFAF00; */
}

.sobrebox h2 {
    font-size: 64px;
    font-family: bebas;
    color: #F9003D;
    padding-bottom: 64px;
}

.participantes {
    /* background-color: #F9003D; */
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.participantes h1 {
font-size: 24px;
padding-bottom: 18px;
}

.participantes h4 {
color: #FFAF00;
font-family: bebas;
font-size: 64px;
text-transform: uppercase;
padding-bottom: 18px;
padding-top: 18px;
}

.participantes p {
text-align: justify;
}

.datas {
    width: 1440px;
    height: 193px;
    /* background-color: chartreuse; */
}

.datas-flex {
    display: flex;
    justify-content: space-evenly;}


.dataitem h5 {
    font-size: 34px;
    padding-bottom: 2px;
    text-transform: uppercase;
}

.dataitem p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: #A259F7;
    width: 289px;
    height: 100px;
    border: solid 3px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* smartphone */
@media screen and (max-width: 767px ) {

    main,footer{
        display: none;
    }
    
    .navbar {
        display: none;
    }
    
    .header #menu-hanburguer {
        display: block;
    }

}