@font-face {
    font-family: bebas;
    src: url(../assets/fonts/BebasNeue-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color:#080324;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: white;
}

.layout-grid {
    color: aliceblue;
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
}

.cabecalho {
    width: 1440px;
    height: 60px;
    background-color: #F9003D;
}

.navbar {
    padding-top: 20px;
    margin-left: 40%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    font-family: Bebas;
}

.banner {
    width: 1440px;
    height: 740px;
    top: 60px;
    color: white;
    background-image: url(../assets/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}


#bannerinfo {
    border-bottom: 2px solid #FFAF00;
    background-color: aquamarine;
    width: 550px;
    flex-direction: column;
    padding-top: 200px;
    padding-bottom: 20px;
}
#bannerinfo h1 {
    font-family: Bebas;
    font-size: 96px;
}

#bannerinfo p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F9003D;
}

.sobre-flex {
    background-color: #F9003D;
    display: flex;
    justify-content: space-between;
}



footer div p {
    display: flex;
    justify-content: center;
}