p{color: blue; }
body {background-color: chocolate;}
#segundo {font-size: 72px; font-family: cursive; border: darkmagenta; background-color: darkorange; border-radius: 8px ;}
.diferente {font-size: 23px; font-family: cursive; border: rgb(230, 212, 230); background-color: darkorange; border-radius: 8px ;}