@model Jogador
@{
    ViewData["Title"] = "Edit";
}
<h2>Edição de Jogador</h2>

@* enctype="multipart/form-data" *@

<form method="post" action="@Url.Action("Atualizar")" >

    <input type="hidden" name="IdJogador" value="@ViewBag.Jogador.IdJogador">

    <label for="">Nome</label>
    <input type="text" name="Nome" value="@ViewBag.Jogador.Nome">

    <label for="">Email</label>
    <input type="email" name="Email" value="@ViewBag.Jogador.Email">
   
    <label for="">Equipe</label>
    <select name="IdEquipe" id="IdEquipe">
        
    </select>

    <button type="submit">Atualizar</button>
</form>