/* Imports de fonts */
@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classes Genéricas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}

.mostrar-menu {
left: 0 !important;
}
 
.mostrar-menu2 {
    right: 0 !important;
    }

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    color: white;
}

/* Mobile First */

/* HEADER */
header {
    width: 100vw;
    height: 60px;
    background-color: #1B1426;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header .header-top {
    display: none;
    
}

header .header-bottom {
    height: 60px;
}

header .logo {
    width: 86px;
}

header nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;
    height: 100vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.4s;

}

header .menu-usuarios {
    position: fixed;
    top: 60px;
    right: -15vw;
    width: 15vw;
    height: 170px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.4s;

}

/* MAIN */
main {
    margin-top: 60px;
}

.banner {
    background-image: url(../assets/images/valorant-pergunte-3-scaled\ 1.png);
    height: 606px;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .banner h1 {
    display: flex;
    justify-content: space-around;
    height: 61px;
    width: 222px;
    font-size: 40px;
    /* background-color: aqua; */
    font-family: TitilliumWeb-Black;
padding-bottom: 406px;
padding-top: 11px;
}

.banner a {
    width: 171px;
    height: 40px;
    color: #1B1426;
    background-color: #F9AA01;
    font-family: TitilliumWeb-Black;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}
